@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;40;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://cdn.discordapp.com/attachments/767818545894916109/1183075680511066263/Imagens-para-blog-TAGD-Terciotti.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    margin: 0 15px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.container header {
    position: relative;
    font-size: 42px;
    font-weight: 600;
    color: white;
}

.container form {
    border-radius: 10px;
    position: relative;
    margin-top: 16px;
    min-height: 650px;
}

.container form .details{
    margin-top: 30px;
}

.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 32px;
    font-weight: 500;
    margin: 6px 0;
    color: white;
}

.container form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field {
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-field label {
    color: white;
    font-size: 18px;
}

.input-field input {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    border-radius: 40px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-field input:is(:focus, :valid) {
    box-shadow:  0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field input[type="date"] {
    color: #707070;
}

.input-field input[type="date"]:valid {
    color: #333;
}



.input-field textarea {
    height: 200px;
    width: 835px;
    resize: none;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.submit-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

